.container
  .row
    .col-md-12
      .form((keyup.enter)='getUser()')
        .input-group
          input.form-control(type='text',
            [(ngModel)]='username',
            name='username',
            placeholder='Aradiginiz uyenin adini yaziniz'
          )
          .input-group-btn
            button.btn.btn-default(type='submit', (click)='getUser()') Ara
      br
  .row
    .col-md-12
      p.text-center
        span(*ngIf='count===-1') Kayıtlar listeleniyor...
        span(*ngIf='count===0') Kayıt bulunamadı!
        span(*ngIf='count>0') Toplam {{count}} kayıtlı üye bulundu:
      br      
  .row(infiniteScroll,
      [infiniteScrollDistance]='0.1',
      [infiniteScrollThrottle]='50',
      (scrolled)='onScroll()'
    )
    .col-md-3(*ngFor='let user of users')
      .panel.panel-default
        .panel-body
          p.text-center
            img.profile-image.img-circle([src]='user.profile.profile_image_url_https', width='48', height='48')
          h4.text-center
            a([attr.href]='"https://www.twitter.com/" + user.username', target='_blank') {{user.username}}
          p.text-center {{user.email}}