.mini-stat {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  min-height: 60px;
  background-color: #555;

  p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    >span {
      padding: 8px 10px;
      margin-right: 10px;
      border-radius: 4px;
      background-color: #6b6b6b;
      border: 1px solid #868686;
      color: #fff;
    }
  }

  a.fa-remove {
    color: #e95420;
    position: absolute;
    right: 10px;
    bottom: 20px;

    &:hover {
      text-decoration: none;
    }
  }
}