.mini-stat(*ngIf='!hidden && (perUser || daily)')
  p.text-center
    span.hidden-xs(*ngIf='perUser && perUser.total')
        span(*ngIf='perUser.today==0 || perUser.today==perUser.total') Bugüne kadar {{ perUser.total | number }} troll ekledik.
        span(*ngIf='perUser.today!=0 && perUser.today!=perUser.total') Bugün {{ perUser.today | number }}, toplamda {{ perUser.total | number }} troll ekledik.
    span(*ngIf='daily && daily.total')
        span(*ngIf='daily.today==0 || daily.today==daily.total') Bugüne kadar troll hesapları {{ daily.total | number }} kez engelledik.
        span(*ngIf='daily.today!=0 && daily.today!=daily.total')
          | Troll hesapları bugün {{ daily.today | number }}
          span.hidden-xs
            | , toplamda {{ daily.total | number }}
          = ' '
          | kez engelledik.
    a.fa.fa-remove.text-danger.pointer((click)='hide()')