.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', (click)='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') trollsavar
    #navbar-main.navbar-collapse.collapse([collapse]='isCollapsed')
      ul.nav.navbar-nav
        li(*ngFor='let item of menu', routerLinkActive='active', [routerLinkActiveOptions]='{ exact: true }')
          a(routerLink='{{item.link}}') {{item.title}}
        li(*ngIf='isAdmin', routerLinkActive='active')
          a(routerLink='/ekip') Ekip
        li(*ngIf='isMember', routerLinkActive='active')
          a(routerLink='/uyeler') Üyeler 
        li(*ngIf='isMember', routerLinkActive='active')
          a(routerLink='/engelliler') Engelliler   
        li(*ngIf='isMember', routerLinkActive='active')
          a(routerLink='/engel-kaldir') Engel Kaldır           
        li(*ngIf='isLoggedIn', routerLinkActive='active')
          a(routerLink='/rastgele') Rastgele   
        li(*ngIf='isLoggedIn', routerLinkActive='active')
          a(routerLink='/listem') Listem                                     
      ul.nav.navbar-nav.navbar-right
        li(*ngIf='isLoggedIn')
          p.navbar-text Selam {{ currentUser.name || currentUser.username || 'isimsiz' }}
        li(*ngIf='isLoggedIn && !isTwitterUser && !isAdmin && !isMember', routerLinkActive='active')
          a(routerLink='/ayarlar')
            span.glyphicon.glyphicon-cog          
        li(*ngIf='isLoggedIn')
          a((click)='logout()', style='cursor: pointer;') Çıkış
