h3.centered {
    width: 100%;
}

a[target='_blank'] {

    &:visited,
    &:link,
    &:active {
        &.text-info {
            color: #3a87ad;
        }

        text-decoration: none;
    }

    &:hover {
        &.text-info {
            color: #2d6987;
        }

        text-decoration: underline;
    }
}