h3.centered
  p.text-center
    img(src='assets/images/logo.jpg', width='200', height='200')
  br
  p(*ngIf='isLoggedIn')
    | &nbsp; Katildiginiz icin tesekkurler!
  p.text-center(*ngIf='!isLoggedIn')
    a.btn.btn-primary.btn-lg(href='/auth/twitter')
      i.fa.fa-twitter
      | &nbsp; Aramiza Katil
