h3.centered(*ngIf='isLoaded')
  p.text-center
    img(src='assets/images/logo.jpg', width='200', height='200')
  br
  p.text-center(*ngIf='isLoggedIn')
    | &nbsp; Katıldığınız için teşekkürler!
  p.small.text-center(*ngIf='isUser') Birazdan Twitter adresimize yönlendirileceksiniz...
  p.text-center(*ngIf='!isLoggedIn')
    a.btn.btn-primary.btn-lg.twitter(href='/auth/twitter')
      i.fa.fa-twitter
      | &nbsp; Aramıza Katıl
    br
  br
  p.small.text-center
    | &nbsp;&nbsp;&nbsp;
    i.fa.fa-telegram.text-info &nbsp;
    a.text-info(href='https://t.me/IsimsizlerHareketi', target='_blank')
      | Telegram kanalımıza üye olmak için tıklayın.
