h3.centered(*ngIf='isLoaded')
  p.text-center
    img(src='assets/images/logo.jpg', width='200', height='200')
  br
  p.text-center(*ngIf='isLoggedIn')
    | &nbsp; Katıldığınız için teşekkürler!
  p.small.text-center(*ngIf='isUser') Birazdan Twitter adresimize yönlendirileceksiniz...
  p.text-center(*ngIf='!isLoggedIn')
    a.btn.btn-primary.btn-lg(href='/auth/twitter')
      i.fa.fa-twitter
      | &nbsp; Aramıza Katıl
