h3.centered(*ngIf='isLoggedIn')
  i.fa.fa-twitter.text-info
  | &nbsp; Twitter ile baglandiniz.
a.btn.btn-primary.btn-lg.centered(href='/auth/twitter', *ngIf='!isLoggedIn')
  i.fa.fa-twitter
  | &nbsp; Twitter ile Baglan
