h3.centered(*ngIf='isLoaded')
  p.text-center
    img(src='assets/images/logo.png', width='200', height='200')
  br
  p.text-center.animate__animated.animate__zoomIn(*ngIf='isLoggedIn')
    | Katıldığınız için teşekkürler!
  p.small.text-center(*ngIf='isTwitterUser')
    | 2 dakika içinde Twitter adresimize yönlendirileceksiniz...
  p.text-center(*ngIf='!isLoggedIn')
    a.btn.btn-primary.login(href='/auth/twitter')
      i.fa.fa-twitter
      | &nbsp; Aramıza Katıl
    | &nbsp;&nbsp;
    a.btn.login.outline(routerLink='/giris')
      i.fa.fa-envelope-o
      | &nbsp; E-Posta ile Giriş