h3.centered {
    width: 100%;
    margin-top: 0;
    margin-bottom: 80px;    
}

.btn.login {
    font-size: 16px;    
    padding: 10px 14px 12px;

    &.outline {
        border-color: #e95420;
        background-color: #fff;

        &:hover, &:active, &:link, &:visited {
            color: #e95420;
        }
    }
}