| Parola Sıfırlama
| Merhaba #{name}, aşağıdaki bağlantıyı kullanarak parola sıfırlama işlemini tamamlayabilirsiniz.
| Parolanızı sıfırlamak istemiyorsanız bu e-postayı dikkate almayınız.#{"\n"}
| #{url}/#{token}