.container
  .row
    .col-md-3
      .panel.panel-default(*ngFor='let user of users')
        .panel-heading
          b @{{user.username}}
        .panel-body
          p.text-center
            img.profile-image.img-circle([src]='user.twitter.profile_image_url_https', width='48', height='48')
          p
            | {{user.name}}
            br
            | {{user.email}}
          a([attr.href]='"https://www.twitter.com/" + user.username', target='_blank') Profili goruntule